<section id="education">
    <div class="wrap">
        <div class="section-title">
            <div>
                <h2>Education</h2>
                <p>Academic background</p>
            </div>
        </div>

        <div class="list">
            <div class="item reveal">
                <div class="item-head">
                    <b>Tashkent Information Technology University</b>
                    <div class="when">Aug 2016 – May 2020</div>
                </div>
                <div class="where">Bachelor of Computer Engineering • Tashkent, Uzbekistan</div>
            </div>

            <div class="item reveal">
                <div class="item-head">
                    <b>Tashkent Information Technology University</b>
                    <div class="when">Aug 2020 – May 2022</div>
                </div>
                <div class="where">Master’s degree of Information Security • Tashkent, Uzbekistan</div>
            </div>
        </div>
    </div>
</section>